"*":
  "atom-beautify": {}
  "atom-fuzzy-grep": {}
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "linter"
      "linter-ruby"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 110
    tabType: "soft"
  linter: {}
  "ruby-test":
    cucumberAllCommand: "bundle exec cucumber --color features"
    cucumberFileCommand: "bundle exec cucumber --color {relative_path}"
    cucumberSingleCommand: "bundle exec cucumber --color {relative_path}:{line_number}"
    rspecAllCommand: "bundle exec rspec --tty spec"
    rspecFileCommand: "bundle exec rspec --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
  "tree-view": {}
  welcome:
    showOnStartup: false
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 110
    tabLength: 4
".js.regexp.source":
  editor:
    preferredLineLength: 110
    tabLength: 4
".js.source":
  editor:
    preferredLineLength: 110
    tabLength: 4
".json.source":
  editor:
    preferredLineLength: 110
