"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "bd210b72-091d-4ecb-b89a-4c579d2c412b"
  "linter-ui-default":
    panelHeight: 69
