"*":
  "atom-beautify":
    general:
      _analyticsUserId: "81a21df9-bb0f-4963-b9bc-f91f095c116d"
    json:
      indent_size: 4
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 15
    preferredLineLength: 110
    tabType: "soft"
  "exception-reporting":
    userId: "3511aeb7-63cc-46b5-b6b3-ab6dc298d304"
  "mocha-test-runner":
    options: "--exit"
  "platformio-ide-terminal":
    style:
      theme: "one-dark"
  "tree-view": {}
  welcome:
    showOnStartup: false
".js.source":
  editor:
    tabLength: 4
    tabType: "auto"
".json.source":
  editor:
    tabLength: 4
